<html lang="en">
    <head>
        <meta name="viewport"
        conent="width=device-width,
        initial-scale=1.0" />
        <title>Handlebars</title>
    </head>
    <body>
        {{{ Body }}}
    </body>
</html>